<div>
  <h2>Ng For With Object Array</h2>
  <table border=1>
    <tr>
      <th>EMP ID</th>
      <th>EMP Name</th>
      <th>EMP Salary</th>
    </tr>
    <tr *ngFor="let emp of employees;let i = index">
      <td>{{emp.empId}}</td>
      <td>{{emp.empName}}</td>
      <td>{{emp.salary}}</td>
      <td><input type="button" value="Delete" (click)="onDelet(i)"></td>
    </tr>
    <tr>
      <td><input type="text" [(ngModel)]="newEmployee.empId" placeholder="Emp Id"></td>
      <td><input type="text" [(ngModel)]="newEmployee.empName" placeholder="Emp Name"></td>
      <td><input type="text" [(ngModel)]="newEmployee.salary" placeholder="Emp Salary"></td>
      <td><input type="button" value="Insert" (click)="onInsert()"></td>
    </tr>
  </table>
</div>
