<!-- <div>
  <h4>Data Binding</h4>
  First Name: {{firstName}}<br>
  Last Name : {{lastName}}<br>
  Age : {{age}} <br>
  Gender : {{gender}} <br>
  Country : {{country}} <br>
  Address : {{address}} <br>
  Receive News Letters: {{receivenewsletters}}<br>
  <hr>
  FirstName : <input type="text" [(ngModel)]="firstName"><br>
  LastName : <input type="text" [(ngModel)]="lastName"><br>
  Age : <input type="text" [(ngModel)]="age"><br>
  Receive News Letters: <input type="checkbox" [(ngModel)]="receivenewsletters"><br>
  Gender:
  <input type="radio" [(ngModel)]="gender" value="male">Male
  <input type="radio" [(ngModel)]="gender" value="female">Female<br>
  Country:
  <select [(ngModel)]="country">
    <option>India</option>
    <option>UK</option>
    <option>USA</option>
  </select>
  <br>
  <input type="button" value="Change Data" (click)="changeData()">
</div>
<hr>
<app-login></app-login>
<hr>
<app-register></app-register> -->
<!--
<app-dynimicss></app-dynimicss> -->

<app-employee></app-employee>
